body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.container {
    display: block;
    max-width: 600px;
    margin: 20px auto;
}

.estacionamento {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.vaga {
    width: 70px;
    height: 120px;
    background: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 8px solid yellow;
}

.ocupado {
    background-color: red;
    color: #fff;
}

.resumo {
    display: flex;
    max-width: 600px;
    margin: 20px auto;  
}

.resumo div {
    display: flex;
    justify-content: center;
    align-items: center;
   gap: 10px;
    border-radius: 8px;
    border: 1px solid red;
    
}

button {
    width: 150px;
    height: 60px;
    border-radius: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}